@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

:root {
    /* Texts colors */

    --dark: rgb(20, 20, 20);
    --light: #fff

    /* Titles contents */

    --lt-color-gray-100:  #f8f9fc;
    --lt-color-gray-200:  #f1f3f9;
    --lt-color-gray-300:  #dee3ed;
    --lt-color-gray-400:  #c2c9d6;
    --lt-color-gray-500:  #8f96a3;
    --lt-color-gray-600:  #5e636e;
    --lt-color-gray-700:  #2f3237;
    --lt-color-gray-800:  #1d1e20;
    --lt-color-gray-900:  #111213;
    --lt-shadowDefault:  0 2px 6px -1px rgba(0, 0, 0, 0.16), 0 1px 4px -1px rgba(0, 0, 0, 0.04);

    /* Font size | Titles */

    --big-title: 50px;
    --small-title: 28px;

    /* Font size | Texts */

    --big-text: 21px;
    --min-text: 17px;
    --small-text: 14px;
}

* {
    padding: 0;
    margin: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    color: var(--dark);
    font-size: var(--min-text);
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: var(--light);
}

a {
    text-decoration: none;
}

ul, li {
    list-style-type: none;
}

input {
    border: none;
    outline: none;
}